PORT=3000
NODE_ENV=development

JWT_ACCESS_SECRET=change_me
JWT_ISSUER=credimerc-api
JWT_AUDIENCE=credimerc-app
JWT_ACCESS_EXPIRES_IN_MINUTES=15
JWT_REFRESH_EXPIRES_IN_DAYS=30
BCRYPT_SALT_ROUNDS=10

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_DATABASE=credimerc

AWS_REGION=us-east-1
AWS_S3_BUCKET=credimerc-prod-files
AWS_ACCESS_KEY_ID=change_me
AWS_SECRET_ACCESS_KEY=change_me
AWS_S3_PRESIGNED_URL_TTL_SECONDS=300

FILES_MAX_PROFILE_MB=3
FILES_MAX_ID_MB=6
FILES_MAX_SELFIE_MB=4
FILES_MAX_SUPPORT_MB=10
